
section{
  width: 45%;
  padding: 10px;
  display: inline-block;
  background-color: rgba(0, 0, 255, 0.1);
  text-align: left;
}

p.python_blurb{
  width: 90%;	
}

nav{
  padding: 30px;
  text-align: center;  
}

nav a{
  padding: 0 20px;	
}

header{
  display: block;
  text-align: center;
  border: 3px solid green;  
}

footer{
  display:block;
  text-align: right;
  padding: 30px;
}