/* 
Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values
*/

h1{
  color: Tomato;
}

nav{
  background-color: DodgerBlue;	
}

/* though an rgb is more specific and preferable */
ul{
  color: rgba(0, 0, 255, 0.5);
}

footer{
  background-color: rgba(0, 255, 0, 0.5);	
}