/*
The display property is the most important CSS property for controlling layout.

A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).

An inline element does not start on a new line and only takes up as much width as necessary.

display: none; is commonly used with JavaScript to hide and show elements without deleting and recreating them. 

https://medium.com/@DaphneWatson/css-display-properties-block-inline-and-inline-block-how-to-tell-the-difference-7d3a1e6e3051
*/

ul li{
  display: inline;	
}

footer{
  display: none;	
}

header{
  display: inline-block;	
}

