/*
https://www.w3schools.com/css/css_navbar.asp
There is a bit more to it
*/

header{
  text-align: center;	
}

nav a{
  padding: 10px;
  text-align: center;
  border: 1px solid red;
  display: block;
  position: sticky; /* still there if we scroll down */
}

nav a:hover {
  background-color: rgba(255, 0, 0, 0.1);
}