/*
An outline is a line that is drawn around elements, OUTSIDE the borders, to make the element "stand out".

CSS has the following outline properties:
outline-style
outline-color
outline-width
outline-offset
outline

The outline-style property specifies the style of the outline, and can have one of the following values:

dotted - Defines a dotted outline
dashed - Defines a dashed outline
solid - Defines a solid outline
double - Defines a double outline
groove - Defines a 3D grooved outline
ridge - Defines a 3D ridged outline
inset - Defines a 3D inset outline
outset - Defines a 3D outset outline
none - Defines no outline
hidden - Defines a hidden outline

*/

h1{
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px dashed black;
  text-align: center;
  outline: 2px solid red;
  padding: 25px;
  margin: 50px;
}

