<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>bulma cards</title>
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
        <link rel="stylesheet" href="../css/kanban.css">
    </head>

<body>
  <div class="box">
  <div class="columns is-mobile is-centered">
      <div class="field is-grouped is-grouped-multiline">
          <div class="control"><span class="tag is-link is-large">Link</span></div>
          <div class="control"><span class="tag is-success is-large">Success</span></div>
          <div class="control"><span class="tag is-black is-large">Black</span></div>
          <div class="control"><span class="tag is-warning is-large">Warning</span></div>
          <div class="control"><span class="tag is-danger is-large">Danger</span></div>
          <div class="control"><span class="tag is-info is-large">Info</span></div>
      </div>
  </div>
  </div>
</body>

</html>
