
/* submission for week 2 */

/* change the default body margin and padding */
body {
  margin: 5px 10px;
  padding: 5px 10px;
}

/* working with the header first 
   create a header image and pad to approximate target size 
*/
header{
  background: #ffffff url(../images/flywheel.jpg) no-repeat;
  background-size: 100%;
  padding-top: 15px;
  padding-bottom: 60px;
}

/* title header should be uppercase in white */
header h1{
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 150%;
}

/* rework the nav */
nav{
  text-align:center;
}

nav a{
  padding: 20px 30px;
  margin: 0 40px;
  display: inline-block;
  width: 10%;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(200, 200, 200, 0.5);
  text-decoration: none;
  border-radius: 10px;  
}

/* style the active class so people know which
   navigation item they are on */
nav a.active {
  background-color: #ffffff;
}

nav a:hover{
  background-color: rgba(200, 200, 200, 1); 
}

/* now for the left and right class */
.left{
  display: inline-block;
  background-color: rgba(200, 100, 100, 0.4);
  width: 25%;
  float: left;
  padding-bottom: 75px;
}

.left img{
  display: block;
  position: center;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.right{
  display: inline-block;
  width: 70%;
  margin: 5px;
}
